{% load static %}


<header id="header" style="height: 70px; width: 1200px; background: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
    <nav id="nav">
        <ul>
            <li><a href="{% url 'home' %}" class="button primary" style="border-radius: 50px;">خانه</a></li>


            <li class="current"><a href="{% url 'contact' %}">تماس با ما</a></li>
            <li class="current"><a href="{% url 'aboutUs' %}">درباره ما</a></li>
            <li class="current"><a href="{% url 'services' %}">خدمات</a></li>
            <li class="current"><a href="{% url 'careers' %}">فرصت‌های شغلی</a></li>
            <li class="current"><a href="{% url 'products' %}">محصولات</a></li>
            
        </ul>
    </nav>
</header>
